<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Lab+ - home</title>
</head>
<body>
    <header>
        <div class="d-flex justify-content-between align-items-center p-3 bg-warning">
            <h1 class="ps-5 m-2 text-dark">Lab+</h1>
            <submmit class="me-5 mt-1 btn btn-dark">Adicionar arquivo</submmit>
        </div>
    </header>
    <main>
        <div class="d-flex align-items-center m-5">
            <table class="table table-dark" id="tabela">
                <thead>
                    <th class="text-center" scope="col">Id</th>
                    <th class="text-center" scope="col">Arquivo</th>
                    <th class="text-center" scope="col">Data</th>
                </thead>
            </table>
        </div>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>